<h1>Login Page</h1>
<form action="~/Home/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="Password" value="" />
    <button type="submit">Login</button>
</form>
